footer {
    height: 200px;
    background-color: #00233b;
    color: white;
    font-family: Roboto;
    font-size: 15px;
}

#footerid{
    width: 100%;
}

.foot1 {
    width: 50%;
    float: left;
}

.foot1 h4,.foot1 address {
    padding: 20px;
    float: left;
}

.foot2 .titulo-contatos {
    float: left;
    margin-left: 180px;
}

.foot2 {
    width: 35%;
    float: right;
    text-align: right;
}

.foot2 h4,.foot2 figure {
    padding: 20px;
    text-align: right;
}
