.slider {
    width: 100%;
    margin: 0px auto;
    z-index: -1;
}

.slick-slide {
    opacity: .1;
}

.slick-active {
    opacity: .1;
}

.slick-current {
    opacity: 1;
}

.slick-dots {
    color: orange;
}